li input {
    display: none;
}

// li.edit {
//     span {
//     display: none;
//     }
//     input {
//         display: initial;
//     }
// }

li.edit span {
    display: none;
}
li.edit input {
    display: initial;
}

li button{
    padding: 0;
    img{
        margin-top: 1px;
        height: 15px;
    }
}